body li {
  list-style: none;
}

body a {
  color: inherit;
  text-decoration: none;
}

footer a {
  color: #888;
}

.nav-drop a {
  color: #383838;
  font-family: "Helvetica Light", Helvetica, sans-serif;
}

body a:hover {
  text-decoration: none;
}

body b {
  font-family: "Helvetica Medium", Helvetica, sans-serif;
}

body h1 {
  font-family: "Gotham Bold", Helvetica, sans-serif;
}

body h2 {
  color: #888;
  padding: 10px 0;
  font-size: 21px;
}

body h3 {
  color: #383838;
  font-size: 19px;
  margin: 5px;
  padding-left: 5px;
}

body h4 {
  color: #383838;
  font-size: 18px;
}

body h5 {
  color: #888;
  padding: 10px 0;
}

main {
  background-color: #f3f3f3; /* Light gray color */
}

section {
  background-color: #f3f3f3;
  margin-top: 15px;
}

footer {
  background-color: rgb(255, 255, 255);
  color: #888;
}

#dropdown-basic {
  width: 100%;
  background-color: white;
  color: #888;
  border-color: white;
  border-radius: 0px;
}

.div-head {
  font-family: "Helvetica Light", Helvetica, sans-serif;
  background-color: #383838; /* BLACK COLOR */
  color: #888; /* GRAY COLOR */
}

.div-head h5 {
  font-family: "Gotham Bold", Helvetica, sans-serif;
}

.header-style {
  background-image: url("/logo1.png");
  background-size: 300px;
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-color: #d35266;
  color: #fff;
  padding: 30px 0;
}

.header-style p {
  font-family: "Hero Light", Helvetica, sans-serif;
}

.header-style form {
  font-family: "Helvetica Light", Helvetica, sans-serif;
}

.header-style input {
  margin: 5px 0 0 0;
  color: #888;
  border-radius: 0;
  border: none;
}

.gray-color {
  color: #888;
}

.gray-color:hover {
  color: #d35266;
}

.div-head li:hover {
  background-color: #383838;
  color: #fff;
}
.nav-item {
  color: #383838;
}

path {
  fill: inherit !important;
}

svg {
  width: auto !important;
  filter: none !important;
}

.div-head svg {
  font-size: 25px;
}

.social-div svg,
.best-seller svg {
  font-size: 35px;
}

.div-head a:hover,
footer a:hover {
  color: #d35266; /* Red color */
}

.buttons {
  background-color: #d35266;
  color: #fff;
  border: 1px solid #d35266;
  border-radius: 3px;
}

.but-drop {
  background-color: #fff;
  color: #888;
  border: 1px solid #fff;
  margin-right: 2px;
}

.but-search {
  color: #888;
  background-color: #383838;
  border: 1px solid #383838;
  border-radius: 2px;
  padding: 0 25px;
}

.nav-drop a:hover {
  background-color: #383838;
  color: #fff;
  font-family: "Helvetica Light", Helvetica, sans-serif;
}

.carousel-div h4 {
  color: #d35266;
  font-family: "Helvetica Medium", Helvetica, sans-serif;
}

.carousel-div span {
  color: #888;
  font-family: "Hero Light", Helvetica, sans-serif;
}

.carousel-div button span {
  color: #888;
  font-family: "Helvetica Medium", Helvetica, sans-serif;
}

.carousel-buttons {
  font-family: "Helvetica Medium", Helvetica, sans-serif;
}

.carousel-icon {
  color: red;
  background-color: white;
}

.prod-desc p {
  color: #d35266;
  font-weight: bold;
  font-size: 14px;
}

.footer-up {
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 10px;
}

.footer-up-med {
  display: flex;
  justify-content: center;
  width: 100%;
}

.footer-up-elem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 10px 0 10px;
  padding: 10px;
}

.footer-up ul {
  border-top: 1px solid #d35266;
}

.footer-links {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.footer-down {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #888;
  padding: 10px;
}

.footer-up h4 {
  color: #d35266;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
}

.footer-options {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 5px;
  flex-direction: column;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.footer-up button {
  border: 1px solid gray;
  background-color: #fff;
  color: #383838;
  font-size: 15px;
  padding: 5px 10px;
  margin-left: 5px;
}

.footer-navig {
  padding: 10px;
}

.footer-options h4 {
  margin: 0;
}

.social-div {
  display: flex;
  justify-content: space-around;
}

/* code for search file */
.contain-main {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.dropdown-menu-nav {
  height: 200px !important;
  overflow-y: scroll;
}

.pagination a {
  color: #d35266;
}

.pagination a:hover {
  color: #BD5666;
}

.page-link.active {
  background-color: #d35266;
  border-color: #d35266;
}

.page-link.active:hover {
  color: white;
}

@media screen and (max-width: 1024px) {
  .footer-up {
    flex-direction: column;
  }

  .footer {
    height: 540px;
  }

  .footer-options {
    flex-direction: column;
    margin: 0;
  }
}

@media screen and (max-width: 990px) {
  .footer-options {
    flex-direction: row;
  }
}

@media screen and (max-width: 760px) {
  .nav-item {
    font-size: 25px;
  }

  .footer {
    height: 800px;
  }

  .footer-options {
    flex-direction: row;
  }
}

// md size bootstrap
@media screen and (min-width: 768px) {
  .footer-up button {
    font-size: 10px;
    padding: 5px;
  }
}

@media screen and (max-width: 576px) {
  .carrousel_favorites {
    height: 680px;
  }

  .footer-up-med {
    flex-direction: column;
  }

  h1 {
    font-size: 2rem !important;
  }

  .header {
    height: 300px;
  }

  .prod-desc h5 {
    color: #d35266;
    font-weight: bold;
  }

  .footer-down {
    flex-direction: column;
  }

  img {
    max-height: 350px;
  }

  .footer {
    height: 850px;
  }
}

@media screen and (max-width: 450px) {
  .icons-group {
    flex-direction: column;
    align-items: flex-start !important;
  }

  .footer-options {
    flex-direction: column;
  }
}

@media screen and (max-width: 440px) {
  .brand-title {
    display: none !important;
  }
  .header-style h1 {
    margin-right: 60px !important;
  }
}

@media screen and (max-width: 260px) {
  .header {
    height: 350px;
  }

  .dropdown-menu-nav {
    height: 250px;
  }

  .social-div li {
    margin: 0;
  }

  .options {
    flex-direction: column;
  }

  .footer-links ul,
  .footer-navig ul {
    padding: 0;
  }
}

.brand-title {
  display: block;
}
/* iframes code */

.header {
  width: 100%;
  min-height: 270px;
}

.carrousel_favorites {
  width: 100%;
  min-height: 550px;
}

.slides_best_seller,
.slides_product_month,
.slides_new {
  width: 100%;
  height: 600px;
}

.footer {
  width: 100%;
  min-height: 400px;
}

.carousel-control-next,
.carousel-control-prev {
  width: 5% !important;
}

.carousel-indicators li {
  background-color: #d35266 !important;
}

/* whats app */

#whatsapp {
  position: fixed;
  top: 80px;
  right: 20px;
}

#whatsapp img {
  filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.4));
  width: 60px;
  height: 60px;
  z-index: 100;
}

#whatsapp img:hover {
  transform: scale(1.5)
}
